body {
    font-family: "Playfair", serif;
    font-size: 60px;

}

.col {
    background-color: rgb(53, 52, 52);
}

h1 {
    font-size: 65px;
}

.counter-box {
    aspect-ratio: 2 / 3;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}
.btn {
  font-size: 2rem;
}